{% load static %}
<!DOCTYPE html >
<html lang="en" {%block html_attribs%}{%endblock html_attribs%}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="SoFee - SocialMedia Feed Aggregation service.">
    <title>[SoFee]</title>
    <link href="{% static "css/ghpages-materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="navbar-wrapper">
        <a href="#" class="brand-logo center">[So]cialMedia-[Fee]d</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" onclick="get_links('{{uuid}}')">Links</a></li>
          <li><a href="#" onclick="get_status('{{uuid}}')">Status-es</a></li>
          {% if uuid %}
          {% with 'xml/'|add:uuid|add:'-feed.xml' as xml_static %}
          <li><a href="{% static xml_static %}" target='_blank'><span>Feed</span></a></li>
          {% endwith %}
          {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#" onclick="get_links('{{uuid}}')">Links</a></li>
          <li><a href="#" onclick="get_status('{{uuid}}')">Status-es</a></li>
          {% if uuid %}
          {% with 'xml/'|add:uuid|add:'-feed.xml' as xml_static %}
          <li><a href="{% static xml_static %}" target='_blank'><span>Feed</span></a></li>
          {% endwith %}
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container grey lighten-5">
      <div class="row">
        <div class="col">
          <p>[SoFee] gets tweet of people you follow and list
            them <i>chronologically</i>. Additionally it provides
            dedicated feed(Atom)/stream of links/URLs.
          </p>
          {% block body %}
          {% endblock %}
          {% if uuid %}
          <ul class="tab"></ul>
          <div id="lists" class="col">
            <ul class="collection" id="tweets">
            </ul>
          </div>
          {% else %}
          <div class="center">
            <div class="chip">
              <a href="authenticate/">We will need your twitter account auth to proceed.</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div id="cleaned_text" class="modal bottom-sheet">
      <div class="modal-content">
      </div>
    </div>
    <footer class="page-footer grey lighten-4">
      <div class="container">
        <div class="row">
          <p>Created with significant inputs from <a href="https://twitter.com/punchagan/" target="_blank">@punchagan</a><br/>
            Powered by <a href="">Django</a>, <a href="http://www.tweepy.org/">Tweepy</a>, <a href="http://materializecss.com/helpers.html">MaterializeCSS</a>.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/status.js" %}"></script>
    {% if uuid %}
      <script type="text/javascript">
        var uuid = "{{ uuid }}";
        get_links(uuid);
        {% if task_id %}
          get_task_status("{{ uuid }}", "{{ task_id }}");
        {% endif %}
      </script>
    {% endif %}
  </body>
</html>
